<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static '/courses/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static '/courses/css/main.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <script type="text/javascript" src="{% static '/courses/js/jquery-3.5.1.js' %}"></script>
    <script type="text/javascript" src="{% static '/courses/js/bootstrap.min.js' %}"></script>

    <body>

        <div id="wrap">

            <nav style="background-color:black" class="navbar navbar-light navbar-expand  fixed-top">
                <a href="/" class="navbar-brand py-0 h1 ml-2 d-flex flex-column" >
                     <span style="color:white">EduTech</span>
                </a>

                <ul class="navbar-nav  text-center mt-1 ml-auto">
                    <li class="nav-item mr-2">
                        <a href="/bookmarked" class="nav-link py-0 d-flex flex-column" >
                            <span class="fas fa-star " style="font-size:15px; color:#FFD700"> </span>
                            <span class="d-none d-sm-inline mt-1" style="color:white">Bookmarked</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown mr-2">
                        <a class="nav-link text-center d-flex py-0 flex-column" href="/enrolled" >
                            <i style="font-size:15px; color:gold" class="fab fa-leanpub"></i>

                            <span class="d-none d-sm-inline px-1 mt-1" style="color:white">Enrolled</span>
                        </a>
                    </li>

                </ul>
            </nav>

            <div class="container"  style="padding-top: 90px">
                {% block content %}
                {% endblock %}
                {% block scripts %}{% endblock %}
            </div>

            <div id="push"></div>
        </div>
        <div id="footer" style="padding-top:70px" >
            <footer class="fixed-botto page-foote font-smal cya darken-"   style="background-color:  white;  ">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-3 text-center mx-auto  py-">
                            <div class="mb-1 text-center mx-auto">
                                &nbsp;<small style="font-size: 7px;" class="py-"><b> 👑KoredeDavid </b></small>
                                &nbsp;
                                <a target="_blank"  href="https://facebook.com/kingkorededavid">  <i class="fab fa-facebook fa-lg white-text" style="font-size:18px;"></i></a> &nbsp;
                                <a target="_blank"  href="https://twitter.com/kingkorededavid"><i class="fab fa-twitter fa-lg white-text" style="font-size:20px;"> </i></a> &nbsp;
                                <a target="_blank"  href="https://instagram.com/kingkorededavid"><i class="fab fa-instagram fa-lg white-text" style="font-size:20px;"> </i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background-color: 	#D3D3D3;" class="footer-copyright mx-auto text-center py-">© 2020 Copyright EduTech
                 
                </div>
            </footer>
        </div>
    </body>

</html>




