{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %} {{course.name}} {% endblock %}

{% block content %}
    <body style="background:white">
    <div class="text-center pb-2 bg-light"><h4 style="font-weight:bold">{{course.name}}</h4><hr></div>

    <div class="row justify-content-around" style="background-color:white">


        <div class="col-md-5  ">
            {% convert course.id as course_id %}
            <i style="font-weight:bold" >{{course.about}}</i><br>
            <div id="check" class="pt-3" >
                {% if course_id in enrolled_courses %}
                <i style="font-weight:bold; background-color:gold" class="float-right">You have enrolled for this course</i>
                {% else %}
                    <div id="take-course"><button class="btn float-right" style="background-color:gold" id="course{{course.id}}" > <b>Take Course</b></button></div>
                {% endif %}
            </div>
        </div>
    </div>
    </body>
    {% if course_id not in enrolled_courses %}
        <script type="text/javascript">
            var course = document.getElementById('course{{course.id}}')            
           
            course.onclick = function (){
                var newElement = document.createElement("div");
                newElement.classList.add('pr-5')
                newElement.innerHTML = '<div class="spinner-grow float-right" style="color:gold" role="status"><span class="sr-only">Loading...</span></div>'                
                
                var post_request = new XMLHttpRequest();                
                var get_request = new XMLHttpRequest();                
                
                get_request.open('GET', window.location.href);
                get_request.onreadystatechange = function(){
                    if (this.readyState === 4 && this.status === 200 ){
                        course.style.display = 'none'                       
                        var check = document.getElementById("check")
                        check.appendChild(newElement)
                        post_request.open('POST', "{% url 'enroll' course.id  %}");
                        post_request.setRequestHeader('X-CSRFToken', "{{csrf_token}}");                                        
                        post_request.onreadystatechange = function(){
                            if (this.readyState === 4 && this.status === 200 ){                               
                               newElement.style.display = 'none'
                               check.innerHTML='<i style="font-weight:bold; background-color:gold" class="float-right">You have enrolled for this course</i>'
                            }
                            else {
                                newElement.style.display = 'none'                       
                                course.style.display = 'visible'                       
                            } 
                        };                    
                        post_request.send();                                                              
                    }
                    else {
                        console.log('connection error')

                    } 
                };
                get_request.send();                                                              

            };
                
        </script>
    {% endif %}

{% endblock %}