{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Enrolled{% endblock %}

{% block content %}

    <div class="text-center pb-3 bg-light" >
        <b>ENROLLED</b>
        <hr>
    </div>
    <div style="background:white">
        {% for course in enrolled_courses %}
            {% enrolled course as enrolled %}
            <ul class="list-group pt-4 list-group-flush" style="background-color:gold">
                <li class="list-group-item li zoom">
                    <a  style="color:white;"  href="{% url 'course' course %}"> <b>{{enrolled}}</b></a>
                </li>
            </ul>
        {% empty %}
            <div class="row pt-4">
                <div class="col-md-6 mx-auto">
                    <div class="card mb-5  p-3 mx-auto " style="background:black">
                        <div class="card-bod  border border-light p-3 text-center">
                            <div class="d-flex justify-content-around ">
                                <b class="text-center" style="color:white">You have not enrolled for any course yet.</b>
                            </div>
                            <div class='container' style="color:gold; text-align:centre;">
                                <i class="fab fa-leanpub" style="font-size:100px;  display: inline-block"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
