{% extends 'base/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Enrolled{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'courses/js/home.js' %}"></script>
{% endblock script%}


{% block content %}
    <header class="mb-5 pb-4 pb-md-5">
        {% include 'include temp/nav.html' %}
    </header>

    <div class="container">
        <div class="row justify-content-start">
            {% for course in enrolled_courses %}
                {% get_video_details course as video_details %}
                {% get_list_details video_details 0 as video_snippet%}

                <div class="col-lg-3 col-sm-6 mt-4 border-bottom border-warning">
                    <!-- Card -->
                    <div class="card">
                        <!-- Card image -->
                        {% get_dict_details video_snippet 'thumbnails' as video_thumbnail %}
                        {% get_dict_details video_thumbnail 'high' as  video_thumbnail_url %}
                        <img class="card-img-top" src="{% get_dict_details video_thumbnail_url 'url' %}" alt="Card image cap">

                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Text -->
                            <h6><a href="{% url 'course_details' course %}">{% get_dict_details video_snippet 'title' %}</a></h6>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-lg-4 mb-5 col-sm-6 mt-4 border-bottom border-warning d-flex justify-content-center">
                    <!-- Card -->
                    <div class="card">
                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Text -->
                            <h6>You've not enrolled for any course</h6>
                            <a class="btn btn-warning text-dark" href="{% url 'home' %}#courses"> Courses</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
