{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Edutech{% endblock %}

{% block content %}
    <div class="text-center" style="background-color:white" >
        <b class="" style="font-size:18px"> Welcome to Edutech where you can learn relevent 21st century skill....  </b><br><br>
        <p><i style="font-weight:bold; font-size:18px; padding-top:10px"> “The reasonable man adapts himself to the world; the unreasonable one persists in trying to adapt the world to himself. Therefore all progress depends on the unreasonable man.” – George Bernard Shaw</i></p>

    </div>
    <div class="row justify-content-around pt-4" style="background-color:white">
        {% for category in categories %}
            {% zero_or_one categories category as zero_or_one %}
                {% if zero_or_one %}
                    <div class="col-md-5 mb-5 "  >
                        {% convert category as setup %}
                        {% if setup == 'Programming' %}
                            <div class="card shadow-lg  pt-5 pb-5 setup_image card-image " >
                        {% elif setup == 'Crafts & Arts' %}
                            <div class="card shadow-lg  pt-5 pb-5 arts_image card-image " >
                        {% elif setup == 'Science' %}
                            <div class="card shadow-lg  pt-5 pb-5 science_image card-image " >
                        {% elif setup == 'Graphics' %}
                            <div class="card shadow-lg  pt-5 pb-5 design_image card-image " >
                        {% endif %}
                            <div class="card-body ml-3 mr-3">
                                <h3 class="card-title pb-4 pt-4 text-center" style="background: rgba(0, 0, 0, 0.6); color:gold"><b>{{category}}</b></h3>
                                {% courses category as courses %}
                                {% for course in courses %}
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item li zoom">
                                             <a class="a"  style="color:white;"  href="{% url 'course' course.id %}">
                                               {{course.name}}
                                            </a>
                                            <i id="course{{course.id}}" style="color:#FFD700; font-size:20px" {% if course.id in favourites %} class="fas fa-star float-right" {% else %} class="far fa-star float-right" {% endif %}  ></i>

                                        </li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
        {% endfor %}
    </div>

    <br>
    <div class="row justify-content-around" style="background-color:white">
        {% for category in categories %}
            {% two_or_three categories category as two_or_three %}
                {% if two_or_three %}
                    <div class="col-md-5 mb-5 " >
                       {% convert category as setup %}
                        {% if setup == 'Programming' %}
                            <div class="card shadow-lg  pt-5 pb-5 setup_image card-image " >
                        {% elif setup == 'Crafts & Arts' %}
                            <div class="card shadow-lg  pt-5 pb-5 arts_image card-image " >
                        {% elif setup == 'Science' %}
                            <div class="card shadow-lg  pt-5 pb-5 science_image card-image " >
                        {% elif setup == 'Graphics' %}
                            <div class="card shadow-lg  pt-5 pb-5 design_image card-image " >
                        {% endif %}
                            <div class="card-body ml-3 mr-3">
                                <h3 class="card-title button-four pt-4 text-center pb-4" style="background: rgba(0, 0, 0, 0.6); color:gold" ><b>{{category}}</b></h3>
                                {% courses category as courses %}
                                {% for course in courses %}
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item li zoom">
                                            <a class="a" style="color:white;"  href="{% url 'course' course.id %}">
                                                        {{course.name}}
                                            </a>
                                            <i id="course{{course.id}}"  style="color:#FFD700; font-size:20px" {% if course.id in favourites %} class="fas fa-star float-right" {% else %} class="far fa-star float-right" {% endif %}  ></i>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
        {% endfor %}
    </div>


    <div id="news" class="pt-5" >
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible text-center fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
            {% endfor %}
        {% endif %}

        <h3 style="font-weight:bold" class="pt-3 bg-light text-center" >News Letter</h3>
        <form class=" text-center pt-3 bg-light" action="/#news"  method="post">
            {% csrf_token %}
            <div class="row ">
                <div class="col-md-6 mx-auto">
                    <div class="form-group mr-2  mt-2">


                        {{form.name}}

                        <div  class="invalid-feedback">
                            Please choose a username.
                        </div>

                    </div>
                        {% if form.name.errors %}
                            {% for error in form.name.errors %}
                              <p  class="alert alert-success mr-2 ">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    <div class="form-group mr-2 mt-2">


                        {{form.email}}

                        <div  class="invalid-feedback">
                            Please choose a valid email.
                        </div>
                    </div>
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <p  class="alert alert-success mr-2">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    <button type="submit" class="btn mt-2" style="background:gold; color:black">Send</button>
                    </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        window.onload = function(){
            {% for category in categories %}
                {% courses category as courses %}
                    {% for course in courses %}

                        var course{{course.id}} = document.getElementById('course{{course.id}}')

                        if (!window.matchMedia("(pointer: coarse)").matches) {
                            course{{course.id}}.onmouseenter = function(){
                                if (course{{course.id}}.classList.contains('fas')){
                                    course{{course.id}}.classList.remove('fas');
                                    course{{course.id}}.classList.add('far')

                                }
                                else{
                                    course{{course.id}}.classList.remove('far');
                                    course{{course.id}}.classList.add('fas')
                                }
                            }

                            course{{course.id}}.onmouseleave = function(){
                                if (course{{course.id}}.classList.contains('fas')){
                                    course{{course.id}}.classList.remove('fas');
                                    course{{course.id}}.classList.add('far')
                                }
                                else{
                                    course{{course.id}}.classList.remove('far');
                                    course{{course.id}}.classList.add('fas')
                                }
                            }
                        }


                        course{{course.id}}.onclick = function () {
                            if (course{{course.id}}.classList.contains('fas')){
                                console.log('solid')
                                course{{course.id}}.classList.remove('fas');
                                course{{course.id}}.classList.add('far')
                            }
                            else{
                                console.log('regular')
                                course{{course.id}}.classList.remove('far');
                                course{{course.id}}.classList.add('fas')
                            }
                            var request{{course.id}}= new XMLHttpRequest();
                            request{{course.id}}.open('POST', "{% url 'favourites' course.id  %}");
                            request{{course.id}}.setRequestHeader('X-CSRFToken', "{{csrf_token}}");
                            request{{course.id}}.onreadystatechange = function(){
                                if (request{{course.id}}.readyState === 4 && request{{course.id}}.status === 200 ){
                                       // console.log('This thing na scam')
                                }
                                else{
                                    if (course{{course.id}}.classList.contains('fas')){
                                        console.log('solid')
                                        course{{course.id}}.classList.remove('fas');
                                        course{{course.id}}.classList.add('far')
                                    }
                                    else{
                                        console.log('regular')
                                        course{{course.id}}.classList.remove('far');
                                        course{{course.id}}.classList.add('fas')
                                    }
                                    console.log('An error occured')
                                }
                            }
                            request{{course.id}}.send();
                        }
                    {% endfor %}
            {% endfor %}
        };
    </script>
{% endblock %}