<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        {#        You can replace cdn with your preferred source of static files #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pop</title>
    </head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha512-jCaU0Dp3IbMDlZ6f6dSEQSnOrSsugG6F6YigRWnagi7HoOLshF1kwxLT4+xCZRgQsTNqpUKj6WmWOxsu9l3URA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <body class="container">
        {% for message in messages %}
            <div class="alert mt-4 text-center alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}success{% else %}info{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        <form method="post" class="col-md-6 mx-auto mt-5 border-primary border p-3" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label for="id_text">Pop a message</label>
                {{ form.text }}
            </div>
            {% for error in form.text.errors %}
                <p class="alert alert-danger mt-2" role="alert"> {{ error }}</p>
            {% endfor %}
            <div class="custom-file">
                <label class="custom-file-label" for="id_image">Choose file</label>
                {{ form.image }}
            </div>
            {% for error in form.image.errors %}
                <p class="alert alert-danger mt-2" role="alert"> {{ error }}</p>
            {% endfor %}
            <button type="submit" class="btn btn-outline-dark mt-2">Pop</button>
        </form>
    </body>

    <script type="text/javascript">
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").html(fileName);
        });
    </script>

</html>
